<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'team/style.css' %}"/>
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
    <!-- NAVIGATION BAR-->
    <ul>
            <li><a href="{% url 'teams' %}">Home</a>
            <li><a href="#">Contact</a>
            <li><a href="#">About</a>
            <li style="float:right"><a href="{% url 'login' %}">Login as Admin</a></li>
    </ul>
{% block body %}
{% endblock %}
</body>
</html>